<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head1}"/>
</head>
<body>

    <!-- /.preloader -->
    <div id="preloader"></div>
    <div class="theme-layout">
        
        
        <div class="account-popup-sec"> 
            <div class="account-popup-area">
                <div class="account-popup">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="account-user">
                                <div class="logo">
                                    <a href="#" title="">
                                        <i class="fa fa-get-pocket"></i>
                                        <span>KwitaraCars</span>
                                        <strong>SELL VEHICULS</strong>
                                    </a>
                                </div><!-- LOGO -->
                                <form>
                                    <h1>Login Form</h1>
                                    <div class="field">
                                        <input type="text" placeholder="Username" />
                                    </div>
                                    <div class="field">
                                        <input type="password" placeholder="Password" />
                                    </div>
                                    <div class="field">
                                        <input type="submit" value="SEND NOW" class="flat-btn" />
                                    </div>
                                </form>
                                <i>OR</i>
                                <span>LOGIN WITH</span>
                                <ul class="social-btns">
                                    <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="registration-sec">
                                <h1>SIGNUP Form</h1>
                                <form>
                                    <div class="field">
                                        <input type="text" placeholder="Your Name" />
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="Your Email" />
                                    </div>
                                    <div class="field">
                                        <input type="password" placeholder="Type Password" />
                                    </div>
                                    <div class="field">
                                        <input type="password" placeholder="Retype Password" />
                                    </div>                                   
                                    <label>
                                        <input type="checkbox" /> By Clicking on this You are agree with our <a href="#" title="">Terms & Condition</a>
                                    </label>
                                    <input type="submit" value="Singup Now" class="flat-btn" />
                                </form>
                            </div><!-- Registration sec -->
                        </div>
                    </div>
                    <span class="close-popup"><i class="fa fa-close"></i></span>
                </div>
            </div>
        </div><!-- Account Popup Sec -->

        <header class="simple-header for-sticky ">
            <th:block th:include="~{fragments/header}"/>
        </header>        

        
        <div class="inner-head overlap">
            <div  style="background: url(img/parallax1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->	
            <div class="container">
                <div class="inner-content">
                    <span><i class="fa fa-bolt"></i></span>
                    <h2>CONTACT US</h2>
                    <ul>
                        <li><a href="#" title="">HOME</a></li>
                        <li><a href="#" title="">CONTACT US</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- inner Head -->

        <section class="block">
            <div class="container">
                 <h1 class="nocontent outline">--- email+phone ---</h1>    
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-lists-sec">
                            <ul>
                                <li>
                                    <i class="fa fa-phone"></i>+111 (4500032-5)  (33333357-0)
                                </li>
                                <li>
                                    <i class="fa fa-at"></i>Company@email.com
                                </li>
                                <li>
                                    <i class="fa fa-support"></i>Get Free Support  24/7 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="block remove-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading4">
                            <h2>CONTACT US</h2>
                            <span>Lorem ipsum dolor</span>
                        </div>
                        <div class="contact-page-sec">
                            <div class="row">
                                <div class="col-md-6 column">
                                    <div class="contact-form">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <i class="fa fa-user"></i>
                                                    <input type="text" placeholder="Name">
                                                </div>
                                                <div class="col-md-12">
                                                    <i class="fa fa-at"></i>
                                                    <input type="text" placeholder="Email">
                                                </div>
                                                <div class="col-md-12">
                                                    <i class="fa fa-pencil"></i>
                                                    <textarea placeholder="Message"></textarea>
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="flat-btn" type="submit">SEND NOW</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6 column">
                                    <div class="contact-details">
                                        <div class="contact-infos">
                                            <ul>
                                                <li>
                                                    <span><i class="fa fa-phone"></i> Address</span>
                                                    <p>765 Shuttle Swift Area <br>at New Born Road </p>
                                                </li>
                                                <li>
                                                    <span><i class="fa fa-fax"></i> Fax/Email</span>
                                                    <p>674-46-7-0,   234-8-987 <br>hello@email.com</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="social-btns">
                                            <li><a title="" href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a title="" href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" href="#"><i class="fa fa-dribbble"></i></a></li>
                                            <li><a title="" href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" href="#"><i class="fa fa-tumblr"></i></a></li>
                                        </ul>
                                        <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=Samokov&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:250px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:250px;width:600px;}</style></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="bottom-line">
                <div class="container">
                    <span>Copyright All Right Reserved 2016 <a href="http://wwww.kimarotec.com" title="">KimaroTec</a></span>
                    <ul>
                        <li><a title="" href="#">HOME</a></li>
                        <li><a title="" href="#">VEHICULS</a></li>
                        <li><a title="" href="#">PRIVACY</a></li>
                        <li><a title="" href="#">ABOUT</a></li>
                        <li><a title="" href="#">CONTACT</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="scrollToTop"><i class="ti ti-arrow-circle-up"></i></a>
        </footer>

    </div>

    <!-- Script -->
    <script type="text/javascript" src="js/modernizr.js"></script><!-- Modernizer -->
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script><!-- Jquery -->
    <script type="text/javascript" src="js/script.js"></script><!-- Script -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script><!-- Bootstrap -->
    <script type="text/javascript" src="js/owl.carousel.min.js"></script><!-- Owl Carousal -->
    <script type="text/javascript" src="js/html5lightbox.js"></script><!-- HTML -->
    <script type="text/javascript" src="js/price-range.js"></script><!-- Parallax -->
    <script type="text/javascript" src="js/scrolly.js"></script><!-- Parallax -->
    <script type="text/javascript" src="js/jquery.poptrox.min.js"></script><!-- Popup -->

    <script type="text/javascript">
        $(document).ready(function () {
            "use strict";

            $(function () {
                var foo = $('.gallery-box');
                foo.poptrox({
                    usePopupCaption: true
                });
            });
        });
    </script>

</body>
</html>