<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>

<header>
    <th:block th:include="~{fragments/guest-navbar}"/>
</header>

<main>

    <div class="registration-sec">

        <form>
            <div class="field">
                <input type="text" placeholder="Марка"/>
            </div>
            <div class="field">
                <input type="text" placeholder="Модел"/>
            </div>


            <input type="submit" value="Search" class="flat-btn"/>
        </form>
    </div>

</main>

<!--<footer>-->
<!--    <th:block th:include="~{fragments/footer}"/>-->
<!--</footer>-->

</body>

</html>
