<div class="top-bar">
    <div class="container">
        <ul class="contact-item">
            <li><i class="fa fa-envelope-o"></i> mobiletu@email.com</li>
            <li><i class="fa fa-mobile"></i>+1 333 44 555 / +1 333 44 500</li>
        </ul>
    </div>
</div><!-- Top bar -->
<div class="menu">
    <div class="container">
        <div class="logo">
            <a th:href="@{/}" title="">
                <i class="fa fa-get-pocket"></i>
                <span>МобилетУ</span>
            </a>
        </div><!-- LOGO -->

        <nav>
            <h1 class="nocontent outline">--- Main Navigation ---</h1>
            <ul>

                <li class="menu-item-has-children">
                    <a href="#" title="">Публикуване</a>
                    <ul>
                        <li><a th:href="@{/cars/create}" title="">Автомобили</a></li>
                        <li><a th:href="@{/buses/create}" title="">Автобуси</a></li>
                        <li><a th:href="@{/trucks/create}" title="">Камиони</a></li>
                        <li><a th:href="@{/motorcycles/create}" title="">Мотори</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children">
                    <a href="#" title="">Търсене</a>
                    <ul>
                        <li><a th:href="@{/cars/search}" title="">Автомобили</a></li>
                        <li><a th:href="@{/buses/search}" title="">Автобуси</a></li>
                        <li><a th:href="@{/trucks/search}" title="">Камиони</a></li>
                        <li><a th:href="@{/motorcycles/search}" title="">Мотори</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children">
                    <a th:href="@{/users/login}" title=""><strong>Влез в профила си!</strong></a>
                </li>
                <li class="menu-item-has-children">
                    <a th:href="@{/contacts}" title=""><strong>За контакти</strong></a>
                </li>

            </ul>
        </nav>
    </div>
</div>
