<th:block th:fragment>
    <div class="top-bar">
        <div class="container">
            <ul class="contact-item">
                <li><i class="fa fa-envelope-o"></i>yourcompnay@email.com</li>
                <li><i class="fa fa-mobile"></i>+1 333 44 555 / +1 333 44 500</li>
            </ul>

        </div>
    </div><!-- Top bar -->
    <div class="menu">
        <div class="container">
            <div class="logo">
                <a href="index.html" title="">
                    <i class="fa fa-get-pocket"></i>
                    <span>KwitaraCars</span>
                    <strong>SELL VEHICULS</strong>
                </a>
            </div><!-- LOGO -->
            <div class="popup-client">
                <span><i class="fa fa-user"></i><a href="/users/login" title="">Sign up</a></span>
            </div>
            <span class="menu-toggle"><i class="fa fa-bars"></i></span>
            <nav>
                <h1 class="nocontent outline">--- Main Navigation ---</h1>
                <ul>

                    <li class="menu-item-has-children">
                        <a href="#" title="">CREATE</a>
                        <ul>
                            <li><a href="/cars/create" title="">Cars</a></li>
                            <li><a href="/motorcycles/create" title="">Motorcycles</a></li>
                            <li><a href="/trucks/create" title="">Trucks</a></li>
                            <li><a href="/buses/create" title="">Buses</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#" title="">SEARCH</a>
                        <ul>
                            <li><a href="/cars/search" title="">Cars</a></li>
                            <li><a href="/motorcycles/search" title="">Motorcycles</a></li>
                            <li><a href="/trucks/search" title="">Trucks</a></li>
                            <li><a href="/buses/search" title="">Buses</a></li>
                        </ul>
                    </li>
                    <li><a href="/contacts" title="">CONTACT</a></li>
                </ul>
            </nav>

        </div>
    </div>
</th:block>