<th:block th:fragment>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="Мобилету"></title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/reset-css.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/colors.css}" />
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}" /><!-- Owl Carousal-->
    <link rel="stylesheet" th:href="@{/fonts/font-awesome/css/font-awesome.min.css}"/><!-- Icons -->
    <link rel="stylesheet" th:href="@{/css/price-range.css}"/><!-- Owl Carousal -->
    <link rel="script" th:src="@{/js/jquery.slim.min.js}" />
    <link rel="script" th:src="@{js/bootstrap.bundle.min.js}" />
    <link rel="script" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js}">
    <link rel="script" th:href="@{http://code.jquery.com/jquery-3.3.1.slim.min.js}">

    <script th:src="@{/js/modernizr.js}"></script><!-- Modernizer -->
    <script th:src="@{/js/jquery-1.10.2.min.js}"></script><!-- Jquery -->
    <script th:src="@{/js/bootstrap.min.js}"></script><!-- Bootstrap -->
    <script th:src="@{/js/owl.carousel.min.js}"></script><!-- Owl Carousal -->
    <script th:src="@{/js/html5lightbox.js}"></script><!-- HTML -->
    <script th:src="@{/js/scrolly.js}"></script><!-- Parallax -->
    <script th:src="@{/js/price-range.js}"></script><!-- Parallax -->
    <script th:src="@{/js/script.js}"></script><!-- Script -->

    <link rel="stylesheet" th:href="@{/css/responsive.css}"/><!-- Responsive -->

    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" th:href="@{/js/rs-plugin/css/settings.css}">
</th:block>