<th:block>
    <script type="text/javascript" th:src="@{js/modernizr.js}"></script><!-- Modernizer -->
    <script type="text/javascript" th:src="@{js/jquery-1.10.2.min.js}"></script><!-- Jquery -->
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script><!-- Bootstrap -->
    <script type="text/javascript" th:src="@{js/owl.carousel.min.js}"></script><!-- Owl Carousal -->
    <script type="text/javascript" th:src="@{js/html5lightbox.js}"></script><!-- HTML -->
    <script type="text/javascript" th:src="@{js/scrolly.js}"></script><!-- Parallax -->
    <script type="text/javascript" th:src="@{js/price-range.js}"></script><!-- Parallax -->
    <script type="text/javascript" th:src="@{js/script.js}"></script><!-- Script -->
</th:block>