<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head1}"/>
</head>

<body>

<!-- /.preloader -->
<div id="preloader"></div>
<div class="theme-layout">


    <header class="simple-header for-sticky ">
        <th:block th:include="~{fragments/header}"/>
    </header>


    <div class="inner-head overlap">
        <div style="background: url(/img/parallax1.jpg)" class="parallax scrolly-invisible no-parallax"></div>
        <!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container">
            <div class="inner-content">
                <span><i class="fa fa-bolt"></i></span>
                <h2>REGISTER PAGE</h2>
                <ul>
                    <li><a href="/" title="">HOME</a></li>
                    <li><a href="/" title="">REGISTER PAGE</a></li>
                </ul>
            </div>
        </div>
    </div><!-- inner Head -->

    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-sec">
                        <div class="row">
                            <div class="col-md-14">
                                <div class="registration-sec">
                                    <h1>REGISTER Form</h1>

                                    <form th:action="@{/users/register}" th:method="post" enctype="multipart/form-data">
                                        <div class="field">
                                            <input type="text" placeholder="Your Name" name="username"/>
                                        </div>
                                        <div class="field">
                                            <input type="text" placeholder="Your Email" name="email"/>
                                        </div>
                                        <div class="field">
                                            <input type="password" placeholder="Type Password &#42; Must contain(Uppercase letter,lowercase letter and number)" name="password" required minlength="6" >
                                        </div>
                                        <div class="field">
                                            <input type="password" placeholder="Retype Password &#42; Must contain(Uppercase letter,lowercase letter and number)"
                                                   name="confirmPassword" required minlength="6">
                                        </div>

                                        <div class="field">
                                            <input type="text" placeholder="Your phone number" name="phoneNumber"/>
                                        </div>
                                        <div class="control-group">

                                            <div class="group-container row">
                                                <div class="col-md-12">
                                                    <div id="upload-container">
                                                        <div id="aaiu-upload-container">
                                                            <div class="moxie-shim moxie-shim-html5">
                                                                <label for="add-car-image" class="btn flat-btn btn-lg">Select Images</label>
                                                                <input type="file" class="form-control-file" id="add-car-image" name="image"
                                                                       required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div >

                                        <input type="submit" value="Singup Now" class="flat-btn"/>
                                    </form>
                                </div><!-- Registration sec -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <th:block th:include="~{fragments/footer1}"/>
    </footer>

</div>

</body>
</html>